@@ -16,7 +16,6 @@ python-vlc = "*"
webrtcvad = "*"	webrtcvad = "*"
pocketsphinx = "*"	pocketsphinx = "*"
coloredlogs = "*"	coloredlogs = "*"
future = "*"	
CherryPy = "*"	CherryPy = "*"
PyAudio = "*"	PyAudio = "*"
PyYAML = "*"	PyYAML = "*"
[requires]	[requires]
#python_version = "3.7"	#python_version = "3.7"
[scripts]	[scripts]
lint = "pylint --rcfile=pylintrc --ignore=tunein.py src/auth_web.py src/main.py src/alexapi"	lint = "pylint --rcfile=pylintrc --ignore=tunein.py src/auth_web.py src/main.py src/alexapi"
yamlcheck = "python -c \"import yaml; yaml.load(open('src/config.template.yaml'))\""	yamlcheck = "python -c \"import yaml; yaml.load(open('src/config.template.yaml'))\""
shlint = "pipenv shell --anyway \"cd src/scripts && shellcheck -e 2164 -e 1117 ./inc/*.sh ./inc/os/*.sh ./inc/device/*.sh ./*.sh\" && exit"	shlint = "pipenv shell --anyway \"cd src/scripts && shellcheck -e 2164 -e 1117 ./inc/*.sh ./inc/os/*.sh ./inc/device/*.sh ./*.sh\" && exit"
